.flickr-photo {
    position: relative;
    float: left;
    width:  550px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

/*body {
    background: url(/static/images/halftone.png);
    font-family: 'Lobster', cursive;
}*/

.airport-dropdown {
	width:200px;
}

.importance-slider {
	width:300px;
}

.wow-slider {
	width:300px;
}

img.weather-radio {
	width:30px;
	height:30px; 
}

img.michelin-star {
	width:20px;
	height:20px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 50%;
  height:5%;
  margin: auto;
}

.flickr-image {
  width: auto;
  height: 225px;
  max-height: 225px;
}

.rcorners {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px; 

}

#general-pref {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 0px;
    margin-left: 0px;
}

#city-specific-pref {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 0px;
    margin-left: 0px;
}

.data-element{
   text-align: center;   
}