body {
  font-family: 'Nixie One', cursive;
  /*background-color:#212930;*/
}

a {
  color:#212930;
}

label {
  font-family: 'Nixie One', cursive;
}

.description {
  /*padding-bottom: 20px;*/
  border-bottom: 1px solid lightgray;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align:center;
}

div.navbar-header img {
    width: 30px;
    float: left;
    margin-top: 7px;
    margin-right: 7px;
}

.secondary-color {
  color: #98C872;
}

.primary-color {
  color: #42B872;
}

.city-header{
  text-align: center;
  color:#42B872;
}

.place-header {
  text-align: center;
  color:#98C872;
}
.home-airport-dropdown {
	width:300px;
  margin:0 auto;
}

.travel-dates {
  width:300px;
}

.inner-div {
  margin: 10px auto;
}

img.weather-radio {
	width:30px;
	height:30px; 
}

img.michelin-star {
	width:20px;
	height:20px;
}

.carousel-inner > .item > img{
       width:auto;
       height:360px;
       margin:0 auto;
     }

.flickr-image {
  width: 50%;
  height: 225px;
  max-height: 225px;
  overflow: hidden;
}

.rcorners {
    border-radius: 25px;
    border: 2px solid #42B872;
    padding: 20px;
    margin:5px auto;

}

#general-pref {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 0px;
    margin-left: 0px;
}

#city-specific-pref {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 0px;
    margin-left: 0px;
}

.data-element{
   text-align: center;   
}

label.weather-radio > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label.weather-radio > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label.weather-radio > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #212930;
}