<!DOCTYPE html>
<html>
<head>
  <title>PensivePassport</title>

  <link rel="stylesheet" href="/static/javascript/typeahead/jquery.typeahead.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
  <script src="/static/javascript/typeahead/jquery.typeahead.min.js"></script>
  <script type="text/javascript" src="/static/javascript/main.js"></script>
</head>

<body>

	<div class="container">

	  <!-- Show flashed messages -->
	  {% with messages = get_flashed_messages() %}
	      {% for message in messages %}
	          <div class="alert alert-warning">{{ message }}</div>
	      {% endfor %}
	  {% endwith %}

	  <!-- This is where the main content goes. -->
	  {% block body %}
	      BODY OF PAGE GOES HERE VIA INHERITANCE
	  {% endblock %}

	</div>

</body>
</html>