{% extends 'base.html' %}


{% block body %}

<div class="row" style="width:50%; margin:0 auto">
	<table id="results-table" class = "table table-hover">
	<thead>
	    <tr>
	        <th colspan="2" class="primary-color" style="text-align:center; font-size:24px;">{{city.name}}: Quick Stats</th>
	    </tr>
	</thead>
	<tbody>
	    <tr>
	        <td>Average Airfare</td>
	        <td class="data-element">${{city.avg_airfare}}</td>
	    </tr>
	    <tr>
	        <td>Cost of Living</td>
	        <td class="data-element">{{city.col_index}}</td>
	    </tr>
	    {% if city.food[0] > 0 %}
	    <tr>
	        <td>Food</td>
	        <td class="data-element">{{city.food[0]}} Michelin Restaurants / {{city.food[1]}} <img class='michelin-star' src='/static/images/michelinstar.png'></td>
	    </tr>
	    {% endif %}
	    <tr>
	        <td>Wow Factor</td>
	        <td class="data-element">{{city.avg_wow}}</td>
	    </tr>
	</tbody>
	</table>
</div>
<div class="align-center">
	<button id="re-search" class="btn btn-default">New Search</button>
</div>
<script type="text/javascript">
	function reSearch(evt) {

	    window.location = "http://localhost:5000/search";

	}
	$("#re-search").on("click", reSearch);
</script>


{% endblock %}