{% extends 'base.html' %}

{% block body %}

    <h1>PensivePassport</h1>
    <div class="container">
        <div class="row spacer">
        </div>   
        <form action="/preference-form">
            <div class="row">
                <label>Departure City</label>
                    <input type="text" name="departure-city" class="form-group">
            </div>
            <div class="row"> 
                <div class="col-xs-5 form-group">
                    <div class="typeahead-container">
                        <div class="typeahead-field">
             
                            <span class="typeahead-query">
                                <label>Destination #1</label>
                                    <input type="search" name="destination-1" class="form-group typeahead" autocomplete="off">
                                
                            </span>
                 
                        </div>
                    </div>
                
                </div>

                <div class="col-xs-2">
                    <h2>vs.</h2>
                </div>

                <div class="col-xs-5 form-group">
                    <label>Destination #2</label>
                        <input type="text" name="destination-2">
                </div>
                
                <div class="col-xs-12">
                    <input type="submit" value="Decide!">
                </div>
            </div>
        </form>       
    </div>
{% endblock %}