<!DOCTYPE html>
<html>
<head>
	<title>PensivePassport</title>

	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/javascript/typeahead/jquery.typeahead.min.css">
	<link rel="stylesheet" href="/static/main.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
	<script src="/static/javascript/typeahead/jquery.typeahead.min.js"></script>
	<script type="text/javascript" src="/static/javascript/main.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<style>
		.align-center {
	  		text-align:center;
		}

		body {
		  font-family: 'Nixie One', cursive;
		  background-color:#212930;
		}

		#logo-styling {
			width:auto; 
			height:400px; 
			margin: 0 auto; 
			padding-top: 50px;
		}

		#explore-button {
			width:310px; 
			margin:10px;
		}


	</style>
  
</head>

<body>

	<div class="container" style="margin:10px auto;">

		  <!-- Show flashed messages -->
		  {% with messages = get_flashed_messages() %}
		      {% for message in messages %}
		          <div class="alert alert-warning">{{ message }}</div>
		      {% endfor %}
		  {% endwith %}

	</div>

	<div id="explore" style="text-align:center;">
	    <img src="/static/images/pp-logo.png" id="logo-styling">
	    <form action='/search'>
	        <input type="submit" value="Explore" class="btn btn-default" id="explore-button">
	    </form>
	</div>

</body>
</html>