{% extends 'base.html' %}

{% block body %}
<form action="/login-submission" class="form-group secondary-color" method="POST">
    <div class="row">
        <label>Username:
            <input class="form-control" type="text" name="username">
        </label>
    </div>
    <div class="row">
        <label>Password:
            <input class="form-control" type="password" name="password">
        </label>
    </div>
    <input type="submit" value="Sign in" class="btn btn-default" id="login-button">
</form>

{% endblock %}