{% extends 'base.html' %}

{% block extra_js %}
    <script type="text/javascript" src="/static/javascript/preference.js">
    </script>
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-md-6 city-header">
        <h2><strong>{{city1.name}}</strong></h2>
    </div>
    <div class="col-md-6 city-header">
        <h2><strong>{{city2.name}}</strong></h2>
    </div>
</div>
<div class="row photo-carousel">
    <div id="myCarousel1" class="carousel slide col-md-6" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
        {% for i in range(1, nphotos) %}
            <li data-target="#myCarousel1" data-slide-to="{{i}}"></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="flickr-image" src="{{city1.photos[0]}}">
        </div>
        {% for photo in city1.photos[1:nphotos] %}
        <div class="item">
          <img class="flickr-image" src="{{photo}}">
        </div>
        {% endfor %}
      </div>

      <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div id="myCarousel2" class="carousel slide col-md-6" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
        {% for i in range(1, nphotos) %}
            <li data-target="#myCarousel2" data-slide-to="{{i}}"></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="flickr-image" src="{{city2.photos[0]}}">
        </div>
        {% for photo in city2.photos[1:nphotos] %}
        <div class="item">
          <img class="flickr-image" src="{{photo}}">
        </div>
        {% endfor %}
      </div>

      <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>

<form id="preference-form">
    <div class="row" id="city-specific-pref">
        <div class="col-md-5 rcorners">
            <div class="form-group inner-div">
                <label class="secondary-color">Select a {{city1.name}} Airport:
                    <select id="airport-1" name="airport-1" class="form-control">
                        {% for airport in city1.airports %}
                            <option value="{{airport.airport_code}}">{{airport.name}} - {{airport.airport_code}}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="form-group wow-slider inner-div">
                <label class="secondary-color">Choose your <span class="tertiary-color">WOW!</span> factor:</label>
                    <input type="range" min="1" max="10" step="1"  name="wow-factor-1" id="wow-input-1">
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 rcorners">
            <div class="form-group inner-div">
                <label class="secondary-color">Select a {{city2.name}} Airport:
                    <select id="airport-2" name="airport-2" class="form-control">
                        {% for airport in city2.airports %}
                            <option value="{{airport.airport_code}}">{{airport.name}} - {{airport.airport_code}}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="form-group wow-slider inner-div">
                <label class="secondary-color">Choose your <span class="tertiary-color">WOW!</span> factor:</label>
                    <input type="range" min="1" max="10" step="1" name="wow-factor-2" id="wow-input-2">
            </div>
        </div>
    </div>

    <div class='container'>
    <table id="results-table" class = "table table-hover">
    <thead>
        <tr>
            <th colspan="3" style="text-align:center; font-size:24px;">The Data</th>
        </tr>
        <tr>
            <th>Component</th>
            <th class="data-element">{{city1.name}}</th>
            <th class="data-element">{{city2.name}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Airfare</td>
            <td id="flight-1" class="data-element"></td>
            <td id="flight-2" class="data-element"></td>
        </tr>
        <tr>
            <td>Weather</td>
            <td id="weather-1" class="data-element"></td>
            <td id="weather-2" class="data-element"></td>
        </tr>
        <tr>
            <td>Cost of Living</td>
            <td id="col-1" class="data-element"></td>
            <td id="col-2" class="data-element"></td>
        </tr>
        <tr>
            <td>Food</td>
            <td id="food-1" class="data-element"></td>
            <td id="food-2" class="data-element"></td>
        </tr>
        <tr>
            <td>Wow Factor</td>
            <td id="wow-1" class="data-element"></td>
            <td id="wow-2" class="data-element"></td>
        </tr>
    </tbody>
    </table>
    </div>

    <div class="row rcorners" id="general-pref">
        <h2 style="text-align:center" class="secondary-color"><strong>Travel Preferences</strong></h2>
        <div class="col-md-6 align-center">
            <div id="departure-dropdown" class="form-group">
            <label class="secondary-color align-left">Home Airport
                <select id="departure-airport" name="departure-airport" class="form-control home-airport-dropdown">
                    {% for airport in origin_city.airports %}
                        <option value="{{airport.airport_code}}">{{airport.name}} - {{airport.airport_code}}</option>
                    {% endfor %}
                </select>
            </label>
            </div>
            <div id="temp-selectors" class=" form-group">
                <label class="secondary-color">Ideal Temperature
                <label class="radio-inline weather-radio"><input type="radio" name="ideal-temp" value="50"><img class="weather-radio" src="/static/images/snowflake.png"></label>
                <label class="radio-inline weather-radio"><input type="radio" name="ideal-temp" value="70" checked="checked"><img class="weather-radio" src="/static/images/sun_cloud.png"></label>
                <label class="radio-inline weather-radio"><input type="radio" name="ideal-temp" value="90"><img class="weather-radio" src="/static/images/sun.png"></label>
                </label>
            </div>
        </div>

        <div class="col-md-6 align-center">
            <div id="travel-dates" class="form-group">
                <label class="secondary-color align-left">Departure Date
                <input id="depart-date" class="form-control travel-dates" name="depart-date" value="{{start_date}}" min="2015-06-01" max="2015-12-31" type="date" required>
                </label>
                <label class="secondary-color align-left">Return Date
                <input id="return-date" class="form-control travel-dates" name="return-date" value="{{end_date}}" min="2015-06-01" max="2015-12-31" type="date" required>
                </label>
            </div>
        </div>

        <div class="row align-center">
            <input type="submit" class="btn btn-default" id="gather-data-button" value="Grab data!" style="width:200px;">
        </div>
        </div>
        <div class="loader" style="display: none"></div>
        <div class="row rcorners" id="component-weights">
            <div id="algo-result" style="font-size:24px">
                <div><span id="pp-choice-text"></span><span style="margin:0 10px;"><button id="pp-choice" type="button" class="btn btn-default">Explore </button></span></div>
            </div>
            <div class="row" style="margin:10px auto;"></div>
            <h5>Adjust your preferences to see the algorithm recalculate your destination:</h5>
            <div class="form-group importance-slider col-md-4">
                <label class="secondary-color">Cost</label>
                <input type="range" min="0" max="5" step="0" name="cost" id="cost-weight">
            </div>
            <div class="form-group importance-slider col-md-4">
                <label class="secondary-color">Quality of Food</label>
                <input type="range" min="0" max="5" step="0" name="food" id="food-weight">
            </div>
            <div class="form-group importance-slider col-md-4">
                <label class="secondary-color">Weather</label>
                <input type="range" min="0" max="5" step="0" name="weather" id="weather-weight">
            </div>
        </div>
</form>

{% endblock %}