{% extends 'base.html' %}

{% block body %}

<div class="row">
    {% for photo in city1.photos %}
        <span class="photos-list-1" data-photo="{{photo}}"></span>
    {% endfor %}
    {% for photo in city2.photos %}
        <span class="photos-list-2" data-photo="{{photo}}"></span>
    {% endfor %}
    <div id="photo-1" class="col-md-6 flickr-photo"></div>
    <div id="photo-2" class="col-md-6 flickr-photo"></div>       
</div>

<form id="preference-form">
    <div class="row">
         <div class="col-md-6" id="airports">
            <h4>Airports</h4>
            <label>Home</label>
                <select id="departure-airport" name="departure-airport" class="form-control airport-dropdown">
                    {% for airport in origin_city.airports %}
                        <option value="{{airport.airport_code}}">{{airport.name}} - {{airport.airport_code}}</option>
                    {% endfor %}
                </select>
            <label>{{city1.name}}</label>
                <select id="airport-1" name="airport-1" class="form-control airport-dropdown">
                    {% for airport in city1.airports %}
                        <option value="{{airport.airport_code}}">{{airport.name}} - {{airport.airport_code}}</option>
                    {% endfor %}
                </select>
            <label>{{city2.name}}</label>
                <select id="airport-2" name="airport-2" class="form-control airport-dropdown">
                    {% for airport in city2.airports %}
                        <option value="{{airport.airport_code}}">{{airport.name}} - {{airport.airport_code}}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="col-md-6">
            <div id="travel-dates">
            <h4>Travel Dates</h4> 
                <label>Departure Date</label>                    
                <input id="depart-date" name="depart-date" min="2015-06-01" max="2015-12-31" type="date" required>
                <label>Return Date</label>
                <input id="return-date" name="return-date" min="2015-06-01" max="2015-12-31" type="date" required>
            </div>
            <div id="ideal-temp">
            <h4>Ideal Temperature</h4>
            <div class="radio">
                <label><input type="radio" name="ideal-temp" value="50" required><img class="weather-radio" src="/static/images/snowflake.png"></label>
            </div>
            <div class="radio">
                <label><input type="radio" name="ideal-temp" value="70" required><img class="weather-radio" src="/static/images/sun_cloud.png"></label>
            </div>
            <div class="radio">
                <label><input type="radio" name="ideal-temp" value="90" required><img class="weather-radio" src="/static/images/sun.png"></label>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Importance</h4>
            <div class="form-group importance-slider">
                <label>Cost</label>                   
                <input type="range" min="0" max="5" step="1" name="cost" id="cost-weight">
            </div>
            <div class="form-group importance-slider">
                <label>Quality of Food</label>
                <input type="range" min="0" max="5" step="1" name="food" id="food-weight">
            </div>
               <div class="form-group importance-slider">
                <label>Weather</label>
                <input type="range" min="0" max="5" step="1" name="weather" id="weather-weight">
            </div>
        </div>
        <div class="col-md-6">
            <h4>Wow Factor</h4>
            <div class="form-group wow-slider">
                <label>{{city1.name}}</label>
                    <input type="range" min="1" max="10" step="1"  name="wow-factor-1" id="wow-input-1">
            </div>
            <div class="form-group wow-slider">
                <label>{{city2.name}}</label> 
                    <input type="range" min="1" max="10" step="1" name="wow-factor-2" id="wow-input-2">                   
            </div>
            <input type="submit" class="btn btn-primary" id="gather-data-button" value="Grab data!">
        </div>
    </div>
</form>

<table id="results-table" border="1">
    <thead>
        <tr>
            <th colspan="3">The Underlying Data</th>
        </tr> 
        <tr>
            <th>Variable</th>
            <th>{{city1.name}}</th>
            <th>{{city2.name}}</th>
        </tr>
    </thead>   
    <tbody>
        <tr>
            <td>Flight Cost</td>
            <td id="flight-1"></td>
            <td id="flight-2"></td>
        </tr>
        <tr>
            <td>Weather</td>
            <td id="weather-1"></td>
            <td id="weather-2"></td>
        </tr>
        <tr>
            <td>Food</td>
            <td id="food-1"><img class="michelin-star" src="/static/images/michelinstar.jpg"></td>
            <td id="food-2"><img class="michelin-star" src="/static/images/michelinstar.jpg"></td>
        </tr>
        <tr>
            <td>Cost of Living</td>
            <td id="col-1"></td>
            <td id="col-2"></td>
        </tr>    
        <tr>
            <td>Wow Factor</td>
            <td id="wow-1"></td>
            <td id="wow-2"></td>
        </tr>    
    </tbody>
</table>
<p></p>
<div class="row"> 
    <div><button id="pp-choice" class="btn btn-primary">Explore </button></div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#results-table').hide();
        $('#final-decision-form').hide();
        $("#pp-choice").hide();

        setInitialPhotos();
        for (i = 1; i <= 5; i++) {
          LoopPhotos(i);
        }          
        });

    function setInitialPhotos() {
        $('#photo-1').attr("style","background-image:url('{{city1.photos[0]}}');");
        $('#photo-2').attr("style","background-image:url('{{city2.photos[0]}}');");
    }

    function LoopPhotos(i) {
        var photos2 = $(".photos-list-2");           
        var url2 = $(photos2[i]).data("photo");                
            setTimeout(function() {
                $('#photo-2').attr("style","background-image:url('" + url2 + "');")},
                3000);          

        var photos1 = $(".photos-list-1");           
        var url1 = $(photos1[i]).data("photo");                
            setTimeout(function() {
                $('#photo-1').attr("style","background-image:url('" + url1 + "');")},
                3000);
    }

    function prepDom() {
        $("#gather-data-button").hide();
        $("#travel-dates").hide();
        $("#airports").hide();
        $("#ideal-temp").hide();
        $('#results-table').show();
        $('#final-decision-form').show();
        $("#pp-choice").show();

    }

    function getStaticData(cityInfo1, cityInfo2) {
        $("#wow-1").append($("#wow-input-1").val());
        $("#wow-2").append($("#wow-input-2").val());
        cityInfo1.wow = $("#wow-input-1").val()
        cityInfo2.wow = $("#wow-input-2").val()


        var url1 = '/get-city1-data?airport-1='+ $("#airport-1").val();
        $.get(url1, function (result) {
            $('#food-1').prepend(result.food.stars);
            $('#col-1').append(result.costOfLiving);
            cityInfo1.city = result.city
            cityInfo1.country = result.country
            cityInfo1.food = parseInt(result.food.stars);
            cityInfo1.costOfLiving = parseInt(result.costOfLiving);
            }
        );

        var url2 = '/get-city2-data?airport-2='+ $("#airport-2").val();
        $.get(url2, function (result) {
            $('#food-2').prepend(result.food.stars);
            $('#col-2').append(result.costOfLiving);
            cityInfo2.city = result.city
            cityInfo2.country = result.country
            cityInfo2.food = parseInt(result.food.stars);
            cityInfo2.costOfLiving = parseInt(result.costOfLiving);
            }
        );
    }

    function determineDestination(cityInfo1, cityInfo2) {

        var idealTemp = $("input:radio[name=ideal-temp]:checked").val();

        var costWeight = parseInt($("#cost-weight").val())
        var foodWeight = parseInt($("#food-weight").val())
        var weatherWeight = parseInt($("#weather-weight").val())
        var totalWeight = costWeight + foodWeight + weatherWeight

        var flightDelta = (cityInfo1.airfare - cityInfo2.airfare)/(cityInfo1.airfare)
        var colDelta = (cityInfo1.costOfLiving - cityInfo2.costOfLiving)/(cityInfo1.costOfLiving)

        var weatherDeltaCity1 = cityInfo1.weather - idealTemp
        var weatherDeltaCity2 = cityInfo2.weather - idealTemp
        var weatherDelta = (weatherDeltaCity1 - weatherDeltaCity2)/weatherDeltaCity1

        var wowDelta = (cityInfo1.wow - cityInfo2.wow)/cityInfo1.wow

        try {
            var starDelta = (cityInfo1.food - cityInfo2.food)/cityInfo1.food
        }
        catch(err) {
            var starDelta = 0
        }

        var dataDelta = (foodWeight/totalWeight)*starDelta -
                        (costWeight*0.5/totalWeight)*colDelta -
                        (costWeight*0.5/totalWeight)*flightDelta - 
                        (weatherWeight/totalWeight)*weatherDelta
        if (dataDelta > 0 && wowDelta >=0) {
            $("#pp-choice").append(cityInfo1.city);
            $("#pp-choice").data("city", cityInfo1.city);
            $("#pp-choice").data("country", cityInfo1.country);
        }

        else if (dataDelta < 0 && wowDelta <= 0) {
            $("#pp-choice").append(cityInfo2.city);
            $("#pp-choice").data("city", cityInfo2.city);
            $("#pp-choice").data("country", cityInfo2.country);
        }

        else if (dataDelta > 0 && wowDelta < 0) {
            if(dataDelta > Math.abs(wowDelta)) {$("#pp-choice").append(cityInfo1.city);}
            else {$("#pp-choice").append(cityInfo2.city);}
        }

        else if (dataDelta < 0 && wowDelta > 0) {
            if(wowDelta > Math.abs(dataDelta)) {$("#pp-choice").append(cityInfo1.city);}
            else {$("#pp-choice").append(cityInfo2.city);}
        }

        else {var trips = [cityInfo1.city, cityInfo2.city]
            var choice = trips[Math.floor(Math.random()*trips.length)];
            $("#pp-choice").append(choice);
        }

    }          


    function getData(evt){    
        evt.preventDefault();
        prepDom();
        
        var apiResponses = 0;
        var cityInfo1 = {}
        var cityInfo2 = {}

        
        getStaticData(cityInfo1, cityInfo2);

        $.post("/get-flight1",
            {depart_date: $("#depart-date").val(), return_date: $("#return-date").val(), origin: $("#departure-airport").val(), destination: $("#airport-1").val()},
            function (result) {
                $('#flight-1').append("$" + result.airfare);
                cityInfo1.airfare = result.airfare
                apiResponses ++;
                if (apiResponses ===4) { determineDestination(cityInfo1, cityInfo2) };
            }
        );

        $.post("/get-flight2",
            {depart_date: $("#depart-date").val(), return_date: $("#return-date").val(), origin: $("#departure-airport").val(), destination: $("#airport-2").val()},
            function (result) {
                $('#flight-2').append("$" + result.airfare);
                apiResponses ++;
                cityInfo2.airfare = result.airfare
                if (apiResponses ===4) { determineDestination(cityInfo1, cityInfo2) };
            }
        );

        $.post("/get-weather1",
            {depart_date: $("#depart-date").val(), destination: $("#airport-1").val()},
            function (result) {
                $('#weather-1').append(result.low + " - " + result.high + " F");
                apiResponses ++;
                cityInfo1.weather = (parseInt(result.low) + parseInt(result.high))/2;
                if (apiResponses ===4) { determineDestination(cityInfo1, cityInfo2) };
            }
        );

        $.post("/get-weather2",
            {depart_date: $("#depart-date").val(), destination: $("#airport-2").val()},
            function (result) {
                $('#weather-2').append(result.low + " - " + result.high + " F");
                apiResponses ++;
                cityInfo2.weather = (parseInt(result.low) + parseInt(result.high))/2;
                if (apiResponses ===4) { determineDestination(cityInfo1, cityInfo2) };
            }
        );
    }

    function exploreCity(evt) {
        var city = $(this).data("city");
        var country = $(this).data("country");

        window.location = "http://localhost:5000/results?city=" + city + '&country=' + country;

    }

    $("#preference-form").on("submit", getData);
    $("#pp-choice").on("click", exploreCity);

</script>

{% endblock %}