{% extends 'base.html' %}

{% block extra_css %}

<style type="text/css">
.flickr-photo {
    position: relative;
    float: left;
    width:  550px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

</style>

{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-6 flickr-photo" style="background-image:url('{{ city1.photo }}');"></div>
        <div class="col-xs-6 flickr-photo" style="background-image:url('{{ city2.photo }}');"></div>       
    </div>

    <form action="/results" method="POST">
        <div class="row">
             <div class="col-xs-6">
                <h4>Airports</h4>
                <label>Home</label>
                    <select name="departure-airport" class="form-control" style="width:200px">
                        {% for airport in origin_city.airports %}
                            <option value="{{airport.airport_code}}">{{airport.name}} - {{airport.airport_code}}</option>
                        {% endfor %}
                    </select>
                <label>{{city1.name}}</label>
                    <select name="airport-1" class="form-control" style="width:200px">
                        {% for airport in city1.airports %}
                            <option value="{{airport.airport_code}}">{{airport.name}} - {{airport.airport_code}}</option>
                        {% endfor %}
                    </select>
                <label>{{city2.name}}</label>
                    <select name="airport-2" class="form-control" style="width:200px">
                        {% for airport in city2.airports %}
                            <option value="{{airport.airport_code}}">{{airport.name}} - {{airport.airport_code}}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="col-xs-6">
                <h4>Travel Dates</h4> 
                    <label>Departure Date</label>                    
                    <input name="depart-date" min="2015-06-01" max="2015-12-31" type="date">
                    <label>Return Date</label>
                    <input name="return-date" min="2015-06-01" max="2015-12-31" type="date">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h4>Importance</h4>
                <div class="form-group" style="width:300px">
                    <label>Cost</label>
                    <input type="range" min="0" max="5" step="1" name="cost">                    
                </div>
                <div class="form-group" style="width:300px">
                    <label>Quality of Food</label>
                    <input type="range" min="0" max="5" step="1" name="food">
                </div>
                   <div class="form-group" style="width:300px">
                    <label>Weather</label>
                    <input type="range" min="0" max="5" step="1" name="weather">
                </div>
            </div>
            <div class="col-xs-6">
                <h4>Wow Factor</h4>
                <div class="form-group" style="width:300px">
                    <label>{{city1.name}}</label>
                        <input type="range" min="1" max="10" step="1"  name="wow-factor-1">
                </div>
                <div class="form-group" style="width:300px">
                    <label>{{city2.name}}</label> 
                        <input type="range" min="1" max="10" step="1" name="wow-factor-2">                   
                </div>
                <input type="submit" value="Tell me where to go!">
            </div>
        </div>
    </form>


{% endblock %}