{% extends 'base.html' %}

{% block body %}

<h1 class="city-header"><strong>{{ city.name }}, {{ city.country }}</strong></h1>

<div class="row" style="margin:0 auto;">
  <div id="map-canvas" class="rcorners" style="width:auto; height:200px"></div>
</div>
<div class="row" style="text-align:center">
  <div class="col-md-4">
      <div id="restaurant-info">
        <h4 class="place-header">Restaurants</h4>
      </div>
  </div>
  <div class="col-md-4">
      <div id="museum-info">
        <h4 class="place-header">Museums</h4>
      </div>
  </div>
  <div class="col-md-4">
      <div id="park-info">
        <h4 class="place-header">Parks</h4>
      </div>
  </div>
</div>
<div>
  <div class="row" id="similar-trips" style="border-top: 2px solid #212930; margin:20px auto;">
  </div>
</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script>
  var winningCity = '{{ city.name }}' + ', ' + '{{ city.country }}';
  var cityId = '{{ city.city_id }}'
</script>
<script type="text/javascript" src="/static/javascript/winner.js">
</script>

{% endblock %}